* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    align-content: space-around;
    align-items: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
    flex-direction: column;
    align-items: center;
}

.producto img {
    width: 100%;
}

.navbar, .header {
    background-color: #EAC926;
}

.head-bottom {
    display: flex;
    justify-content: space-between;
}

.ul-left li, .ul-right li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.home-banner img{
    width: 100%;
    display: block;
}

.search-bar {
    width: 100%;
    padding: 10px;
}

.search-bar input {
    width: 90%;
    background-color: #ebebeb;;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 10px;
    padding-right: 30px;
    background-color: #fff;
    border: 1px solid #000;
}

.promo {
    text-align: center;
}

.producto {
    margin-bottom: 10px;
}

.contenido {
    border-top: 1px solid #ebebeb; /* Borde superior */
    padding: 15px; /* Espacio alrededor del contenido */
    background-color: white;
}

.ultima-visita, .ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

i.fa-solid.fa-hand-holding-dollar {
    align-items: center;
}

.icon-container {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    text-decoration: none; /* Sin subrayado en enlaces */
    color: #000; /* Color de texto negro */
    text-align: left;
}

.menu-button {
    display: block; /* Por defecto, ocultar en pantallas más grandes */
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos para el botón de hamburguesa */
#toggle-menu {
    background-color: #1259c3;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    color: #ebebeb; /* Color del icono */
    padding: 5px 10px;
}

.fas.fa-bars {
    background-color: #1259c3;
}

h2 {
    font-size: 24px;
    color: #666;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
    display: none;
    color: #666;
    padding: 15px;
}

section article i:hover{
    transform: rotate(-90deg);
}

article:hover h3{
    display: block;
}
section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.detail-product {
    background-color: white;
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.price {
    margin-right: 20px;
}

.fa-solid.fa-truck {
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    margin-left: auto;
}

.price {
    font-size: 18px;
}

.discount, .fa-solid.fa-truck {
    color: #39b54a;
}

.seccion {
    text-align: center; /* Centrar horizontalmente el contenido */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fa-solid.fa-credit-card, .fa-solid.fa-gift, .fa-solid.fa-user-shield {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

@media (max-width: 360px) {
    .producto .info .descripcion {
        display: none; /* Ocultar la descripción en dispositivos móviles */
    }
    .head {
        flex-wrap: wrap;
    }
    .navbar ul{
        display: none;
    }
    .menu-button {
        display: block; /* Ocultar la imagen del menú hamburguesa en tablets y desktop */
    }
    .logo, .search-bar {
        width: 50%;
    }
    .search-bar input {
        border: none;
    }
}

@media (min-width: 361px) {
    .menu-button {
        display: none; /* Ocultar la imagen del menú hamburguesa en tablets y desktop */
    }
    .producto {
        width: calc(50% - 20px);
    }
    .logo, .search-bar, .promo {
        width: 33%;
    }
    .search-bar, .promo {
        align-self: center;
    }
}

@media (max-width: 768px) {
    .ul-left li, .ul-right li {
        padding-left: 5px;
        padding-right: 5px;
    }
    .head-bottom {
        flex-wrap: wrap;
    }
}

/* Estilos para desktop (ancho mínimo de 769 px) */
@media (min-width: 769px) {
    .menu-button {
        display: none; /* Ocultar la imagen del menú hamburguesa en tablets y desktop */
    }
    .producto {
        width: calc(25% - 20px);
    }
    .logo, .search-bar, .promo {
        width: 33%;
    }
    .search-bar, .promo {
        align-self: center;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .seccion {
        width: 33%;
    }
    .fa-solid.fa-credit-card:hover, .fa-solid.fa-gift:hover,
    .fa-solid.fa-user-shield:hover {
        color: #0022AA;
    }
}
